section.about-us .col img{
  width: 400px;
  border-radius: 15px;
  border: 7px solid var(--ligth-blue);
}

section.benefits {
  /* background-image: url('../images/BACKGROUND BENEFITS.jpg'); */
  background-image: linear-gradient(
    rgba(83, 115, 128, 0.7),
    rgba(83, 115, 128, 0.7)
    ), url(../images/BACKGROUND\ BENEFITS.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.icon-container {
  width: min-content;
  margin: auto;
  text-align: center;
}
.icon-container h4 {
  margin-top: 1rem;
}

.icon-container .icon {
  background-color: white;
  border-radius: 100px;
  width: 75px;
  height: 75px;
}

.icon > img {
  width: 48px;
}