.hero .form-container{
  border-radius: 10px;
  width: 23rem;
  min-height: 23rem;
  background-color: white;
}
.form-container .form-header{
  background-color: var(--blue);
  height: 2.6rem;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom: 5px solid var(--yellow);
  
}

.form-container .form-body {
  
}